body{
	background-image: url(img/fondo2.png);

}

.imgfondo{


	position: absolute;
	z-index: -1;
}

.marco_total{
	width: 1000px;
	background-position: center;
	background-color: #E6E6E6; 
    height: 1000px; 
    position: relative;
    left: 50%;
    margin-left: -500px;   

}

.titulo{
	background-color: white;
	position: relative;
	width: 950px;
	height: 150px;
	top: 25px;
	left: 50%;
	margin-left: -475px;
	margin-bottom: 50px;
	color: #9AFE2E;
	font-style: myriad;
	font-size: 20;
	text-align: center;
	padding: 35px;
}

.formulario{
	background-color: white;
	width: 425px;
	height: 450px;
	margin-top: 100px;
	margin-left: 25px;
	position: absolute;
	display: inline;

}

.vista{

	background-color: white;
	width: 425px;
	height: 450px;
	margin-top: 100px;
	margin-left: 550px;
	position: absolute;
	display: inline;

}

.footer{

	background-color: white;
	position: relative;
	width: 950px;
	height: 30px;
	top: 750px;
	left: 50%;
	margin-left: -475px;
	margin-bottom: 25px;
	color: #9AFE2E;
	font-style: myriad;
	font-size: 20;
	text-align: center;
	padding: 15px;


}
body{
	height: 500px;
}